.text-area {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
	height: 500px;
}

.text-area h1,
h2,
h3 {
    text-align: center;
}

.benefits {
    
    background: #DDE7ED;
	font: bold 40px Georgia;

}

.benefits__inner {
    display: flex;
	height: 500px;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 10px 0;

}

.benefits__header {
    width: 100%;
    text-align: center;
    font: bold 40px Georgia;
    padding: 30px;
	color: #000000;
}

.benefits__element {
    width: 30%;
}

.benefits__icon {
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto;
	padding-bottom: 40px;
    
}

.benefits__element p {
    
    text-align: center;
    line-height: 1.3;
	margin-bottom: 40px;
}

.benefits__number {
	color: #ffffff;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 20px;
    opacity: 0;
			
	-webkit-text-stroke: 1px #48C637;
}

.benefits__title {
    font-size: 1.3rem;
	color: #000000;

}
@media screen and (max-width: 960px){
.benefits__title {
    font-size: 1.6rem;
}

}
@media screen and (max-width: 1600px){
.benefits__title {
    font-size: 1.6rem;
}

}